@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mogra&family=Ubuntu+Condensed&display=swap');

body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu Condensed', sans-serif;
}

nav ul li{
    padding: 0 12px;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    height: 65px ;
    background-color:black;
    color: white;
}

.brand img{
    width:62px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Mogra', sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    background-image: url('bg6.png');
    background-repeat: no-repeat;
}

.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 34px;
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80dvw;
    cursor: pointer;
}

.songItemContainer{
    margin-top: 34px;
}


.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;

}

.songItem img{
    width: 43px;
    margin: 0px 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    font-family: 'Ubuntu Condensed';
    font-weight: bold;
    position: absolute;
    left: 10vw;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}